<!-- <div class="container-fluid contenedor">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <input formControlName='name' required> Email
        <input formControlName='email' placeholder="email@example.com" required> Message
        <textarea formControlName='message' maxlength="256" placeholder="I'm interested in..." required></textarea>
        <button formControlName="isLoading" class="submit" type="submit">Submit</button>
        <input formControlName="honeypot" class="hidden" type="text" />
        <div [ngClass]="!submitted? 'hidden' : 'visible'" class="center-text">
            <span>{{responseMessage}}</span>
        </div>
    </form>
</div> -->

<h1 class="container-fluid contenedor">Hola</h1>