<div class="container-fluid contenedor colorPapel">
    <div class="row">
        <div class="col-md-4">
            <h2>Formulario de contacto</h2>
            <p>Esta aplicación está en fase de beta.</p>
            <p>¿Qué quiere decir esto? Que está en una fase aún muy temprana y puede tener multitud de errores. Si quieres ayudarnos porque has detectado un error o deseas hacer alguna sugerencia aquí tienes un formulario para hacérnoslo llegar.</p>
            <p>Muchas gracias por tu colaboración.</p>
            <br>
            <p><strong>Nota</strong> Si el formulario no devuelve ningún mensaje de es que no lo has rellenado adecuadamente. Corrije los datos y prueba de nuevo</p>
        </div>
        <div class="col-md-8">
            <form class="contact" [formGroup]="form" method="post" (ngSubmit)="onSubmit()">
                Name
                <input [formControl]="name" required> Correo electrónico
                <input [formControl]="email" placeholder="email@example.com" required> Mensaje
                <textarea [formControl]="message" maxlength="256" placeholder="Comentario" required></textarea>
                <button [disabled]="isLoading" class="submit" type="submit">Enviar</button>
                <input [formControl]="honeypot" class="hidden" type="text" />
                <div [ngClass]="!submitted? 'hidden' : 'visible'" class="center-text">
                    <h2>{{responseMessage}}</h2>
                </div>
            </form>
        </div>
    </div>
</div>